.woocommerce-checkout .woocommerce {
    .woocommerce-info,
    .woocommerce-message{
        a{
            color:$body-color;
            font-weight:600;
            &:hover{
                color:$primary;
            }
        }
    }//.woocommerce-info
    
    h3{
        font-size:18px;
        font-weight:700;
        letter-spacing:1px;
        text-transform:uppercase;
        @include media(ms){
            font-size:15px;
            letter-spacing:0;
        }
    }

    .woocommerce-checkout{
        background:#fafafa;
        padding: 5px 20px;


        .order-review-wrapper{
            font-size:14px;
            .woocommerce-checkout-review-order{
                background:$white;
                border: 1px #ddd solid;
                padding: 0 10px 20px 10px;	
            }
            // 
            .shop_table{
                background:$white;
                thead,tbody,tfoot tr{
                    border-bottom:1px #ccc solid;
                }
                th{
                    font-size:16px;	
                    padding:10px 12px;
                }
                tbody tr{
                    border:none;
                }

                td{
                    padding:10px 12px;
                    text-align:left;
                }
            }//.shop_table

            .woocommerce-checkout-payment{
                ul{
                    padding-left:0;
                    li{
                        list-style:none;
                        label{
                            font-weight:700;
                        }
                        input[type="checkbox"], input[type="radio"]{
                            vertical-align:-2px;
                        }
                        &.payment_method_paypal{
                            img{
                                max-width:140px;
                                margin:0 10px;
                                vertical-align:middle;
                            }

                            a{
                                color:$primary;
                                font-size:14px;
                            }
                        }
                        .payment_box{
                            padding-left:0px;

                            fieldset.wc-payment-form{ margin-bottom: 5px; }
                        }
                    }
                }//ul
                .place-order{
                    .button{
                        background:$primary;
                        border:none;
                        color:$white;
                        font-size:14px;
                        line-height:1.25em;
                        padding:.825em .4375em;
                        text-transform:uppercase;
                        @include transition(all 0.3s ease-in-out);
                        width:100%;
                        &:hover{
                            background:lighten($primary, 10%);
                        }
                    }
                }//.place-order
            }//.woocommerce-checkout-payment	
        }//.woocommerce-checkout-review-order
    }//.woocommerce-checkout

    .login{
          margin-bottom:20px;

            p span.checkout-login-info{
                display:block;
                font-style:italic;
                font-weight:700;
                padding-bottom:30px;
            }

            label{
                display:inline-block;
                width:20%;
                @include media(sm){
                    width:50%;
                }
                @include media(xs){
                    width:30%;
                }
                @include media(ls){
                    width:100%;
                }
                &.inline{
                    @include media(ls){
                        display:inline-block;
                        width:auto;
                    }
                }
            }
            input.input-text{
                background-color:#fafafa;
                line-height: 1.2em;
                padding:.825em .4375em;
                width:30%;
                @include media(sm){
                     width:50%;
                }
                @include media(ls){
                     width:100%;
                }
            }

            input[type="submit"]{
                background-color:$primary;
                border-color:$title;
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                line-height: 1.286em;
                margin-right:10px;
                padding: 0.822em 1.214em;
                text-transform: uppercase;
                width: 115px;
                &:hover{
                    background-color:lighten($primary, 10%);
                }
            }

            .lost_password a{
                color:$body-color;
                &:hover{
                    color:$primary;
                }
            }
    }//.login

    .checkout_coupon {
        margin-bottom:30px;

        .form-row{
           float:left;
        }
        
        input.input-text{
        height: 40px;
        line-height: 30px;
        margin-top:1px;
        padding: 6px 20px;
        }
        input[type="submit"]{
            padding: 8px 20px;
        }
    }

    .woocommerce-billing-fields,.woocommerce-shipping-fields{
        .form-row {
            display: inline-block;
            width: 100%;
            margin-bottom: 25px;
            label{
                display:inline-block;
                margin-bottom:5px;
            }
            .input-text,
            .select2-container .select2-selection{
                @include border-radius(0);
                color:#777;
                line-height:1.2em;
                padding:.825em .4375em;
                width:100%;
            }

            .select2-container .select2-selection{
                border-color: rgba($black, 0.1);
                height: 47px;

                .select2-selection__rendered{
                    color: #777777;
                    padding-left: 0;
                    margin-top: -5px;
                }
                .select2-selection__arrow{
                    top: 10px;
                }
            }
        }//.form-row

        #billing_first_name_field,
        #billing_email_field, 
        #billing_postcode_field, 
        #billing_city_field,
        #billing_last_name_field, 
        #billing_phone_field{
            float:left;
            width:50%;

            @include media(mb){
                float:none;
                width:100%;
            }
        }

        #billing_first_name_field,
        #billing_email_field, 
        #billing_postcode_field, 
        #billing_city_field,
        #shipping_first_name_field{
            padding-right:15px;
            @include media(mb){
                padding-right:0;
            }
        }

        #billing_last_name_field, 
        #billing_phone_field, 
        #billing_city_field, 
        #shipping_last_name_field, 
        #shipping_city_field{
            padding-left:0;
        }
    }//.woocommerce-billing-feilds

    .woocommerce-shipping-fields{
        .form-row{
            display: inline-block;
            width: 100%;
            margin-bottom: 25px;
            label{
                display:inline-block;
                margin-bottom:5px;
            }
            .input-text{
                color:#777;
                line-height:1.2em;
                padding:.825em .4375em;
            }
        }
    }//.woocommerce-shipping-feilds	
}//.woocommerce

body.stop-scrolling{
    height: 100vh;
    overflow: hidden;
}

.sweet-alert{
    max-height: 100vh;
    overflow-y: auto;

    // @include media(ip) {
    //     max-height: 100vh;
    //     overflow-y: auto;
    // }
}