footer{
    overflow:hidden;
    color:$white;
    font-size:14px;
    line-height:24px;
    font-weight:300;
    letter-spacing: 1px;
    a{
        color: $white !important;

        &:hover{
            color: $primary !important;
        }
    }
    /*::::::::::::::::::::::::::
                            FOOTER TOP
    ::::::::::::::::::::::::::*/
    .footer-top{
        background:lighten($secondary, 4.7%);
        padding:67px 0;
        @include media(xs){
            padding:30px 0;
        }
        .widget_organist_footer_logo{
            .footer-primary{
                img{
                    margin-bottom: 22px;
                }
            }//.footer-primary
        }//.widget_organist_footer_logo
        .footer-secondary{
            margin-top: 18px;
            h2{
                font: 16px/19px "Oswald",sans-serif;
                letter-spacing: 2px;
                margin: 0 0 26px;
            }
            .menu-quick-links-container{
                ul {
                    margin: 0;
                    li {
                        float: left;
                        width: 50%;

                        @include media(xs){
                            float: none;
                            width: 100%;
                        }
                    }
                }
            }//.menu-quick-links-container
            .contact-information{
                .contact-item{
                    margin-bottom: 6px;
                    @include clearfix();
                    .contact-item-icon{
                        display: inline-block;
                        float: left;
                        i{
                            height: 30px;
                            width: 30px;
                            line-height: 30px;
                            text-align: center;
                            @include border-radius(50%);
                            background:#825964;
                            margin-right: 15px;
                        }//i
                    }//.contact-item-icon
                }//.contact-item
            }//.contact-information
        }//.footer-secondary
    }//.footer-top
    /*::::::::::::::::::::::::::
                            FOOTER BOTTOM
    ::::::::::::::::::::::::::*/

    .copyright-wrapper{  
        background:$secondary;
        padding: 10px 0;
        line-height: 24px;
        letter-spacing: 1px;
        font: {
            size:12px;
            style:italic;
            weight:300;
        }

        p{
            margin: 0;
        }
        @include media(xs) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }//.copyright-wrapper

}//footer