
@include media(lg){
	.col-lg-total-5{
		padding-left:15px;
		padding-right:15px;
		width:20%;
		float:left;
	}
}

@include media(mb){
	.col-xs-6{
		width:100%;
	}
}
.container {
  //@include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}