.mm-menu.mm-offcanvas{
    display:none;
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*{
    color:$body-color !important;
}

.mm-listview a:hover{
    font-weight:700;
}

header.top-header{
    padding:20px 0;

    h1.logo-wrapper{
        margin: 0;
        margin-top: 4px;

           //media
           @include media(xs){
              margin-bottom:10px;
              text-align: center;
            }
    }//logo-wrapper

    .menu-primary-container{
        display: inline-block;
        float: right;
        margin-top: 5px;
        @include media(sm){
            display:none;
        }

        ul{
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 0;
            li{
                margin: 0 37px 0 0;
                position:relative;

                @include media(sm){
                    margin: 0 5px 0 0;
                }
                a{
                    color:$body-color;
                    padding-bottom:10px;
                }
                @include sub-menu();
                &:hover {
                ul.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    margin-top:1.125rem;
                    @include transition(all 0.2s ease-out);
                    @include box-shadow (0 6px 12px rgba(0, 0, 0, 0.176));
                }       
            }
            }
        }
    }//menu-primary-container
    

    .social-icon{
        float: right;
        font-size: 20px;
        margin-top: 7px;

        //media
        @include media(xs){
            float:none;
            text-align:center;
        }

        ul{
            li{
                margin-right: 5px;
                color: lighten($black, 59%);
                position:relative;
                &.search-icon{
                    cursor: pointer;
                }

                a{
                    color: lighten($black, 59%);
                    position:relative;
                    
                    &.mobile-menu{
                        display:none;
                        color: #fff;
                        background: #414141;
                        padding: 2px 10px 5px;
                        border-radius: 3px;
                        @include media(sm){
                            display:block;
                        }
                        i{
                            font-size: 15px;
                        }
                        span{
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }//.mobile-menu

                    .items{
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        top: -10px;
                        right: -14px;
                        background: #d1674e;
                        font-size: 11px;
                        line-height: 22px;
                        text-align: center;
                        color: #fff;
                    }
                    .fa-facebook{
                        &:hover{
                            color: #3B5998;
                        }
                    }//fa-facebook
                    .fa-twitter{
                        &:hover{
                            color: #0084b4;
                        }
                    }//fa-twitter
                    .fa-google{
                        &:hover{
                            color: #d34836;
                        }
                    }//fa-google
                    .fa-shopping-cart{
                        &:hover{
                            color: $primary;
                    }
                    }//fa-shopping-cart
                }
                .fa-search{
                    &:hover{
                        color: $primary;
                    }
                }//fa-search

                .organist-mini-cart{
                    display: none;
                    background:$white;
                    @include box-shadow(0 0 4px -1px rgba(0, 0, 0, 0.2));
                    left: -260px;
                    position: absolute;
                    top: 60px;
                    z-index: 50;
                    padding:15px;
                    font-size: 16px;
                    width: 295px;

                    @include media(ms) {
                        // left: -220px;
                        left: auto;
                        right: -28px;
                    }
                    li{
                        padding: 0 5px 25px 0;
                        margin-bottom: 10px;
                        border-bottom:1px dotted $primary;
                        .remove {
                            background: $primary;
                            border-radius: 50%;
                            color: $white;
                            float: right;
                            height: 25px;
                            line-height: 24px;
                            text-align: center;
                            width: 25px;
                        }
                        a{
                            font-weight: bold;
                            display: block;
                            width: 90%;
                            img{
                                float: left;
                                margin-right: 8px;
                                max-width: 55px;
                            }
                        }
                    }
                    .buttons{
                        overflow: hidden;
                        a{
                            background: $primary;
                            color: $white;
                            padding: 5px 10px;
                        }
                        .wc-forward{
                            float: left;
                        }//.wc-forward
                        .checkout.wc-forward{
                            float: right;
                        }//.checkout.wc-forward
                    }//.buttons

                }
            }
            .mixit-search{
                span{
                    cursor: pointer;
                }
            }//mixit-search
        }
    }//.social-icon
}//header.top-header


.title-breadcrumbs{
    text-align: center;
    background-image:url('assets/build/img/title-bg.jpg');
    background-size: cover;
    padding: 40px 15px;
    margin-bottom: 60px;
    @include media(xs){
        margin-bottom:30px;
        // padding:0 15px;
    }

    h1.page-title{
        margin-bottom:0;
        color:$white;
        @include media(mb){
            font-size:30px;
        }
    }
}
@import "_search-form.scss";