%common{  
    &:focus, &:active{
        outline: none;
    }
}
// body{
//     overflow: hidden;
// }
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.6);
    z-index: 9;
    opacity: 0;
    visibility:hidden;
    @include transition(top 0.3s);
    
    &.open{
        visibility: visible;
        opacity: 1;
    }
}
#search{
    padding: 16px 30px;
    position: fixed;
    z-index: 11;
    top:-80px;
    left: 0;
    right: 0;
    background-color:$white;
    @include transition(top 0.2s linear 0.1s);

    &.open{
        top:0px;
    }

    form{
        position:relative;
        input{
            width: 100%;
            padding: 7px 35px 7px 0px;
            @include border-radius(0);
            border: none;
            font-size:20px;
            font-weight: 300;
            color:lighten($black, 60%);
            @extend %common;

        }
        button{
            position: absolute;
            right: 0;
            top: 0;
            background: transparent;
            border: none;
            padding: 7px 0;
            font-size: 26px;
            box-shadow: none;
            color: lighten($black, 70%);
            @extend %common;
        }
    }
}