.woo-sidebar{
	padding: 0 20px 0;
	//background:#272626;

		h2{
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			text-transform: uppercase;
			padding:12px 15px;
			border-left:3px solid $primary;
			background:#f2f2f2;
			margin-top: 0;
		}/*h2*/

	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			padding: 0.875rem 0;
			border-top: 1px solid #e1e1e1;

			&:first-child{
				border-top:none;
			}/*&:first-child*/

			a{
				color: #555;

				&:hover{
					color:$primary !important;
					text-decoration: none;
				}
			}/*a*/
		}/*li*/
	}
	.widget_products,
	.widget_recently_viewed_products{
		ul{
			li{
				@include clearfix();
				padding:0.875rem 0 10px;
				a{
					img{
						max-width: 100px;
						float: left;
						margin-right: 15px;
					}
				}
				.woocommerce-Price-amount.amount{
					float: right;
				}
			}
		}
	}//.widget_products,.widget_recently_viewed_products
	.widget_product_categories{
		ul{
			.cat-item{
				>a{
					text-transform: uppercase;
					font-weight:bold;
				}
				ul.children{
					li{
						padding-left:20px;
						>a{
							
							text-transform: capitalize;
							font-weight:normal;
						}
					}
				}
			}
		}
	}//widget_product_categories
	
}/*woo-sidebar*/
