%title{
	display:inline-block;
	font-size:35px;
	font-family:$title-font;
	color: $title;
	letter-spacing:2.5px;
	line-height:39px;
	text-transform:uppercase;
	margin:0 auto;
	position:relative;
	padding:0 30px;
	text-align:center;
	@include media(mb){
		padding:0 20px;
	}
}