
.woocommerce-account .woocommerce {
		ul.woocommerce-error{
			background-color:#fafafa;
			border-left:3px $title solid;
			margin-bottom:30px;
			padding-left:0;
			li{
			//	background-color: #fff;
			
				margin-bottom: 10px;
				list-style:none;
				font-style:italic;
				padding: 1em 1.618em;
				text-align:center;

					strong{
						font-size:30px;
					}
					a{
						color:$title;
						font-weight:700;
					}
			}
	}//.woocommerce-error

	h2{
	    font-size: 20px;
	    font-weight: 700;
		text-align:center;
	    margin-bottom: 30px;
	    text-transform: uppercase;
	}
	form.login{
		background-color:#fafafa;
		border:1px #ddd solid;
		margin:0 auto 50px;
		padding:20px;
		width:35%;
		@include media(sm){
			width:60%;
		}
		@include media(xs){
			width:80%;
		}
		@include media(ls){
			width:100%;
		}

		p{
			margin-bottom:20px;
			a{
				color:$body-color;
				&:hover{
					color:$primary;
				}
			}
		}

		label{
			display:inline-block;
			// font-weight:700;
			margin-bottom:5px;
			&.inline{
				margin-left:10px;
			}
		}

		input[type="text"], input[type="email"], input[type="password"], input[type="submit"]{
			@include border-radius(0);
			background-color:transparent;
			border-color:#ddd;
			font-size:16px;
			line-height:1.286em;
			padding:0.822em 1.214em;
			width:100%;
		}

		input[type="submit"]{
			background-color:$primary;
			border:1px $title solid;
			color:$white;
			font-size:14px;
			font-weight:700;
		 	max-width:115px;
			text-transform:uppercase;
			vertical-align:middle;
			@include transition(all 0.3s ease-in-out);
			&:hover{
				background-color:lighten($primary, 10%);
				// color:$white;
			}
		}
	}

	.woocommerce-MyAccount-navigation{
		background-color:#fafafa;
		margin-bottom:50px;
			ul{
				margin-bottom:0;
				padding: 1em;
				li {
					display:inline;
					list-style:none;
					padding:10px 12px;
					@include media(ip){
						display:block;
					}
					a{
						color:$body-color;
						font-style:italic;
						font-weight:700;
						&:hover{
							color:$primary;
						}
					}
				}
			}
	}//.woocommerce-MyAccount-navigation

	.woocommerce-MyAccount-content{
		a{
			color:$body-color;
			font-style:italic;
			&:hover{
				color:$primary;
			}
		}

		label{
			display:inline-block;
			margin-bottom:5px;
		}

		#billing_first_name_field,
		#billing_email_field,
		#billing_postcode_field,
		#billing_city_field,
		#billing_last_name_field,
		#billing_phone_field,
		#billing_state_field{
		    float:left;
		    width:50%;

		    @include media(mb){
		        float:none;
		        width:100%;
		    }
		}

		#billing_first_name_field,
		#billing_email_field,
		#billing_postcode_field,
		#billing_city_field,
		#shipping_first_name_field{
		    padding-right:15px;
		    @include media(ip){
		        padding-right:0;
		    }
		}

		#billing_last_name_field,
		#billing_phone_field,
		#billing_city_field,
		#shipping_last_name_field,
		#shipping_city_field{
		    padding-left:0;
		}

		input.input-text,
		.select2-container .select2-choice {
		   @include border-radius(0);
		   color: #777;
		   display:block;
		   line-height: 1.2em;
		   padding: .825em .4375em;
		   width:100%
		}
	}//.woocommerce-MyAccount-content

	.woocommerce-MyAccount-content{
		.edit-account{
			input.input-text,
			.select2-container .select2-choice {
			   @include border-radius(0);
			   color: #777;
			   display:block;
			   line-height: 1.2em;
			   padding: .825em .4375em;
			}

			.select2-container{
				width:50% !important;
			}
		}//.edit-account
		.psw-reset{
			background:#fafafa;
			margin-top: 25px;
			padding:15px;

			fieldset{
				border:none;
				padding:0;
				margin-top:15px;

				legend{
					font-size: 18px;
					text-transform: uppercase;
					font-family: oswald;
					margin-bottom: 15px;
				}
			}
		}//.psw-reset
	}//.woocommerce-MyAccount-content
}//.woocommerce
