.woocommerce-account .woocommerce {
	ul.woocommerce-error {
		padding-left: 0;

		li {
			list-style: none;
			font-style: italic;
			padding: 1em 1.618em;
			text-align: center;
			background-color: $white;
			border-left:3px solid $primary;
			margin-bottom: 5px;

			strong {
				font-size: 16px;
			}

			a {
				color: $title;
				font-weight: 700;
			}
		}
	}
	//.woocommerce-error
	h2 {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	form.login {
		background-color: #fafafa;
		border: 1px #ddd solid;
		margin: 0 auto 50px;
		padding: 20px;
		width: 35%;
		@include media(sm) {
			width: 60%;
		}
		@include media(xs) {
			width: 80%;
		}
		@include media(ls) {
			width: 100%;
		}

		p {
			margin-bottom: 20px;

			a {
				color: $body-color;

				&:hover {
					color: $primary;
				}
			}
		}

		label {
			display: inline-block;
			// font-weight:700;
			margin-bottom: 5px;

			&.inline {
				margin-left: 10px;

				@include media(ls) {
					margin-left: 0;
					margin-top: 10px;
				}
			}
		}

		input[type="email"],
		input[type="password"],
		input[type="submit"],
		input[type="text"] {
			@include border-radius(0);
			background-color: transparent;
			border-color: #ddd;
			font-size: 16px;
			line-height: 1.286em;
			padding: 0.822em 1.214em;
			width: 100%;
		}

		input[type="submit"] {
			background-color: $primary;
			border: 1px $title solid;
			color: $white;
			font-size: 14px;
			font-weight: 700;
			max-width: 115px;
			text-transform: uppercase;
			vertical-align: middle;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background-color: lighten($primary, 10%);
				// color:$white;
			}
		}
	}

	.woocommerce-MyAccount-navigation {
		background-color: $white;
		margin-bottom: 50px;
		text-align: center;
		@include media(xs) {
			margin-bottom: 30px;
		}

		ul {
			margin-bottom: 0;
			@include clearfix();

			li {
				display: inline-block;
				list-style: none;
				padding: 15px 12px;

				&.is-active {
					background-color: $primary;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						top: 100%;
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid #a03e26;
						left: calc( 45% - 5px );
					}

					a {
						color: $white;
					}
				}

				a {
					color: $body-color;
					font-style: italic;

					// &:hover {
					// 	color: #000;
					// }
				}
			}
		}
	}
	//.woocommerce-MyAccount-navigation
	.woocommerce-MyAccount-content {
		h3 {
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			padding-bottom: 15px;
			text-transform: uppercase;
		}

		table {
			background-color: $white;

			.order-actions {
				b.tablesaw-cell-label {
					display: none !important;
				}

				> span.tablesaw-cell-content {
					display: block;
					// text-align: center;
					background: $white;
					width: 100%;
					max-width: 100%;
					padding: 10px 0;
					font-style: normal;


					a {
						color: #414141;
						margin-right: 10px;

						&:last-child{ margin-right: 0; }

						&:hover {
							color: darken($primary, 10%);
						}
					}
				}
			}
		}

		a {
			color: $primary;
			//display: block;
			// font-style:italic;
		}

		label {
			display: inline-block;
			margin-bottom: 5px;
		}

		.form-row-first,
		.form-row-last {
			float: left;
			width: 50%;
			@include media(mb) {
				float: none;
				width: 100%;
			}
		}

		.form-row-first {
			padding-right: 15px;
			@include media(ip) {
				padding-right: 0;
			}
		}

		.select2-container .select2-choice,
		input.input-text {
			@include border-radius(0);
			color: #777;
			display: block;
			line-height: 1.2em;
			padding: 0.825em 0.4375em;
			width: 100%;
		}

		.edit-account {
			.select2-container .select2-choice,
			input.input-text {
				@include border-radius(0);
				color: #777;
				display: block;
				line-height: 1.2em;
				padding: 0.825em 0.4375em;
			}

			.select2-container {
				width: 100% !important;
				padding: 0 !important;

				&#s2id_account_title{
					margin-bottom: 10px;
					border: 1px solid #ddd!important;
				}

				.select2-choice{
					padding: .6em .4375em !important;
				}
			}
		}
		//.edit-account
		.psw-reset {
			background: #fafafa;
			margin-top: 25px;
			padding: 15px;

			fieldset {
				border: none;
				padding: 0;
				margin-top: 15px;

				legend {
					font-size: 18px;
					text-transform: uppercase;
					font-family: oswald;
					margin-bottom: 15px;
				}
			}
		}
		//.psw-reset
		.woocommerce-Addresses {
			.woocommerce-address-details {
				background: $white;
				padding: 10px;
				@include box-shadow( 0px 3px 6px 0px rgba(0, 0, 0, 0.15) );

				table td {
					border-top: none;
				}
			}
		}
		//.woocommerce-Addresses

		.or-user-info{
			.woocommerce-info{

				a.button.woocommerce-Button{
					text-align: center;
				    background: $primary;
				    color: $white;
				    display: inline-block;
				    margin: 5px auto 10px;
				    padding: 10px 15px;
				}
				
			}
		}
	}
	//.woocommerce-MyAccount-content
	.woocommerce-ResetPassword {
		margin-bottom: 20px;

		p span {
			display: block;
			font-style: italic;
			font-weight: 700;
			padding-bottom: 30px;
		}

		label {
			display: inline-block;
			width: 20%;
			@include media(sm) {
				width: 50%;
			}
			@include media(xs) {
				width: 30%;
			}
			@include media(ls) {
				width: 100%;
			}
		}

		input.input-text {
			background-color: #fafafa;
			line-height: 1.2em;
			padding: 0.825em 0.4375em;
			width: 30%;
			@include media(sm) {
				width: 50%;
			}
			@include media(ls) {
				width: 100%;
			}
		}

		input[type="submit"] {
			background-color: $primary;
			border-color: $title;
			color: #fff;
			font-size: 13px;
			font-weight: 700;
			line-height: 1.286em;
			margin-right: 10px;
			padding: 0.822em 1.214em;
			text-transform: uppercase;

			&:hover {
				background-color: lighten($primary, 10%);
			}
		}

		.lost_password a {
			color: $body-color;

			&:hover {
				color: $primary;
			}
		}
	}
}
//.woocommerce


body.woocommerce-order-pay{
	table.shop_table{
		border: 1px solid #bbb;
	}
	ul.payment_methods{
		padding: 20px 15px;
		margin-bottom: 20px;
		list-style-type: none;
		border: 1px solid #bbb;
		background-color: #fff;
	}

	#payment{
		input[type="submit"]{
			background-color: $primary;
			border-color: $primary;
			color: $white;
			padding: 8px 15px;
		}
	}
}

body.woocommerce-add-payment-method{
	ul.woocommerce-PaymentMethods.payment_methods.methods{
		padding: 0;
		list-style-type: none;
	}

	#payment{
		input[type="submit"]{
			background-color: $primary;
			border-color: $primary;
			color: $white;
			padding: 8px 15px;
		}
	}
}