
.page-not-found{  
    background-color:#fbfbfb;
    padding:20px 30px 60px;
    @include clearfix();

    @include media(mb){
        padding:0px 15px 30px;
    }

    /* LOGO WITH MESSAGE */       
    .logo-with-message{
        background: #fff;
        padding: 30px;
        margin-top: 70px; 
        @include box-shadow(0px 0px 0px 10px #eaeaea);

        h1{
            font-size:140px;
            font-family: Bungee Inline;
            color:lighten($black, 50%); 
            /*color:$primary;*/
        }

        h2{
            font-size:28px;
            font-family:Baloo Tamma;
            color:lighten($black, 50%);
        }
        h3{
            font-size:18px;
            font-family:Baloo Tamma;
            color:lighten($black, 60%);
        }
    }

    /* BUTTON */                    
    .btn-dashboard{
        background: $primary;
        padding: 15px 20px;
        display: inline-block;
        color: #fff;
        margin-top: 25px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        @include box-shadow(5px 5px 0 0 #ddd);
        @include transition(all 0.5s);
        &:hover{ 
            background-color:darken($primary, 10%);
        }
    }

    /* ANIMATED IMAGE */                    
    .animated-image{
        text-align:left;
        svg{
            width:85%;
            margin-top: 20px;
            display: inline-block;
        }
        img{
            display: inline-block;
        }
        .shadow{
            width: 50%;
            height: 25px;
            display: inline-block;
            background: #ddd;
            border-radius: 50%;
        }
    }

}


/* ===========================
 * SM       
 * =========================== */
@include media(sm){
    .page-not-found{
        .logo-with-message{
            padding: 20px;
            h1{
                font-size:80px; 
            }
            h2{
                font-size: 22px;
            }
            h3{
                font-size:18px;
            }
        }
        .btn-dashboard{
            padding: 12px 15px;
            font-size: 14px;
        }
        .animated-image{
            margin-top: 80px;
            text-align: center;

            svg{
                width: 100%;
            }
        }
    }

}

/* ===========================
 * XS       
 * =========================== */
@include media(xs){
    .animated-image{
        display:none;
    }
}
