
#or-change-cc{
  width: 400px;
  max-width: 100%;
  margin: auto;
  background: #fff;
  padding: 30px 20px;
}

.or-user-info {
    background-color: $white;
    padding: 15px;
    @include box-shadow (0px 3px 6px 0px rgba(0, 0, 0, 0.15));

    &.password-change {
      @include media(sm){
        margin-top: 30px;
      }
        legend {
            font-size: 18px;
            margin-bottom: 15px;
            letter-spacing: 1.4px;
            color: #646464;
            font-family: "Oswald", sans-serif;
        }
    }

    .or-form-grounp {
        margin-bottom: 15px;

        .or-label {
            font-size: 12px;
        }

        .or-name {
            font-size: 14px;
            color: #8c8c8c;
        }
    }
}

.or-package-detail {
    @include box-shadow (0px 3px 6px 0px rgba(0, 0, 0, 0.15));
    @include media(sm) {
        margin-top: 30px;
    }

    .or-package-name {
        background-color: $primary;
        color: $white;
        padding: 40px 15px;
        font-size: 22px;
        text-align: center;
        font-family: "Oswald", sans-serif;
    }

    table {
        background-color: $white;
        font-size: 14px;

        tr {
            background: $white;

            &:nth-child(even) {
                background-color: #eee;
            }
        }
    }
}
//ACCOUNT DETAIL

.edit-account {
    label {
        color: #8c8c8c;
        font-size: 13px;
    }

    .input-text {
        background-color: #fdfdfd;
        padding: 0.6em 0.4375em !important;
    }

    .password-change {
        margin-bottom: 20px;
    }
}
