.c-btn{
	@include box-shadow(none);
	font-size:16px;
	line-height:18px;
	text-transform:uppercase;
	background:$primary;
	color:$white;
	border:1px solid $primary;
	font-family:$title-font;
	letter-spacing:2px;
	padding:13px 20px;
	text-transform:inherit;
	@include border-radius(0);
	@include transition(all 0.3s ease-in-out);
	// @include transition(all 0.2 ease-in-out);

	&:hover,
	&:focus{
		background: lighten($primary, 10%);
		color:$white;
	}
	&:visited{
		color:$white;
	}	
}//.c-btn
