
/*custome checkbox*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label,
input[type="checkbox"]+span,
input[type="checkbox"] ~ span {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

input[type="checkbox"]+label:before, label:after,
input[type="checkbox"]+span:before, span:after,
input[type="checkbox"]~span:before, span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

input[type="checkbox"]+label:before,
input[type="checkbox"]+span:before,
input[type="checkbox"]~span:before, {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid $primary;
    cursor: pointer;
    transition: background .3s;
}

input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:checked +  span:before, 
input[type="checkbox"]:checked ~ span:before{
    border: none;
    background: $primary;
    border: 2px solid $primary;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:checked + span:after,
input[type="checkbox"]:checked ~ span:after {
    transform: rotate(-45deg);
    top: 5px;
    left: 4px;
    width: 12px;
    height: 6px;
    border: 2px solid $white;
    border-top-style: none;
    border-right-style: none;
}

input[type="checkbox"] ~ span.required:before{
    display: none;
}

input[type="checkbox"] ~ span.required{
    padding-left: 5px;
}
