ul#menu-menu-2{
	margin-bottom: 0;

	> li{
		>a{
			border-bottom:2px solid transparent;
			&:hover{
				border-bottom:2px solid $white;
			}
		}

		}
		.current-menu-item{
			a{
				border-bottom:2px solid $white;
			}
			// &:hover{
			// 	border-bottom:0 !important;
			// }
		}
	li{
		ul{
			li{
				&:hover{

					>ul{
						left: initial;
						right: 100%;
						top: 0;
					}//>ul
				}//&:hover
			}//li
		}//ul
	}//li
}