.woocommerce-error,.woocommerce-info,.woocommerce-message {
    background-color: #fafafa;
    border-left: 3px solid;
    padding: 1em 1.618em;
    margin-bottom: 20px
}

.woocommerce-error,
.woocommerce-message,
.woocommerce-info{
  margin-bottom: 20px;
}

.woocommerce-error{
	border-color: #a94442;
}

.woocommerce-message{
	 border-color: #3c763d;
}

.woocommerce-info{
	border-color: #31708f;
}

.woocommerce-ResetPassword{
	border-color:$primary;
}

.table-responsive .table{
	background-color:#fafafa;
}
