.woocommerce-order-received{
	header.title{
		text-align: center;
		background-color:$primary;
		color: $white;
		margin-bottom: 30px;
		h3{
			margin: 0;
			padding:12px;
		}
	}

table.shop_table{
	background:#fafafa;
	@include box-shadow(0 2px 4px 1px rgba(0, 0, 0, 0.2));
	thead{
		th{
			background:#d5d5d5;
            border-right:1px solid $body-color;
            &:last-child{
            	border-right:0;
            }
		}
	}
}
.shop_table.order_details,
.shop_table.customer_details,
.shop_table.billing_details{
	margin-bottom: 45px;
	tr{
		border-bottom: 1px solid #e9e9e9;
		border-top: 1px solid #e9e9e9;
		th,
		td{
			padding: 8px 12px;
			text-align: left;

			a{
				color: $primary;

				&:hover{
					color: $body-color;
				}
			}//a
		}//th td
	}//tr
}//shop_table.order_details
.shop_table.customer_details{
	tr{
		th,
		td{
			padding:10px 12px;
		}
	}
}
}