.inner-page-wrapper{
	background-color:#f4f4f4;
    padding-bottom:60px;
    @include media(sm){
    	padding-bottom:15px;
    }

	.woo-breadcrumb-filter{
		margin-bottom:30px;
		@include media(ms){
			text-align:center;
		}
		.woocommerce-message{
			font-family:$title-font;
			margin-bottom: 5px;
			a{
				color:$primary;
			}
		}

		p.woocommerce-result-count{
			display:inline-block;
			line-height:30px;
			font-family: oswald;
			letter-spacing: 1px;
			margin-bottom:0;
			@include media(ms){
				margin-bottom:20px;
			}
		}//.woocommerce-result-count

		form.woocommerce-ordering{
			float:right;
			text-transform: uppercase;
			letter-spacing: 2px;
			min-width: 220px;
			@include media(ms){
				float:none;
			}
			select,
			.select2-selection{
				border: 1px solid #e6e6e6;
				height:32px;
				line-height:32px;
				padding: 0 10px;
				width:100%;
				letter-spacing: 0;
			}

			.select2-selection{
				@include border-radius(0);
				.select2-selection__rendered{
					color: #404040;
					text-transform: initial;
				}
			}
		}//.form.woocommerce-ordering
	}//.woo-breadcrumb-filter

	.woocommerce-pagination{
		margin-bottom:60px;
		ul{
			margin-left:0;
			padding-left:0;
		}

		li{
			display:inline;
			list-style:none;
			a,span{
			    border: 1px solid;
			    color: #c1c1c1;
			    display: inline-block;
				font-size: 12px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			    text-decoration:none;
			    width: 30px;
			    @include transition(all 0.3s ease 0s);
			    &:hover{
			    	border-color:#24201f;
			    	color:#24201f;
			    }
			}
			.page-numbers.current{
				border: 1px #24201f solid;
				color:#24201f;
			}
		}
	}//.woocommerce-pagination

	li.product{
		list-style:none;
	}

	.organist-single-product{
		.woocommerce-message a{
			color:$body-color;
			font-weight:700;
		}

		.wc-tab{
			ul{
				li{
					list-style: disc;
				}
			}
		}
	}
}//.shop-product-wrapper

h1.page-title{
	@extend %title;
	display:block;
	margin-bottom:40px;
}

.woocommerce ul.products{
	padding-left:0;
	&:after,
	&:before{
		content: "";
		display: table;
		clear: both;
	}
}//.woocommerce ul.products


body.archive.woocommerce{
}
.select2-container{
	.select2-dropdown{
		border: 1px solid rgba($black, 0.1);
		@include border-radius(0);
	}

	&.select2-container--default .select2-results__option--highlighted[aria-selected],
	&.select2-container--default .select2-results__option[aria-selected=true] {
		color: $white;
		background-color: $primary;
	}
}

span{
	&.onsale{
		position: absolute;
		top: 0;
		left: 0;
		background: #a03e26;
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		border-radius: 50%;
	}
}