
.woocommerce-cart .woocommerce {
    h2{
        font-size:20px;
        font-weight:700;
        margin-bottom:20px;
    }

    input{
        @include border-radius(0);
        // color:$white;
        font-size:16px;
        height:40px;
        line-height:30px;
        padding:6px 20px;
        @include transition(all 0.3s ease-in-out);
    }
    
    input[type="submit"]{
        border:none;
        font-weight: 700;
        font-size:13px;
        letter-spacing: 1px;
        text-transform:uppercase;
    }

    .table-responsive{
        @include media(xs){
            border:none;
        }

        table.shop_table{
            background-color:#fafafa;

        tr.cart_item {
            border-top: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;
        } 

        th,td{
            padding:10px 12px;
            text-align:left;
            white-space:nowrap;

            &:focus{
                outline:none;
            }
        }
        th{
            font-weight:700;
            font-size:17px;
            padding:10px 12px;
        }

        td{
            &.product-name a{
                color:$body-color;
            }

            &.product-price span{
                color:$primary;	
                font-weight:bold;
            }

            &.product-subtotal span{
                font-weight:bold;
            }

            & .quantity{
                input[type="number"]{
                    background: #f9f9f9;
                    border:none;
                    font-weight:700;
                    height:auto;
                    max-width: 80px;
                    padding: 10px 20px;
                    position: relative;
                    &:focus{
                        outline:none;
                    }
                }
                input.qty{
                    border-color:#e6e6e6;
                    color:$body-color;
                    @include media(ls){
                        padding: 6px 3px;
                    }
                }
                button{
                    background: #e6e6e6;
                    color: rgb(128, 128, 128);
                    border-color:#e9e9e9;
                }
                button,input{
                    text-align: center;
                    @include border-radius(0);
                    height: 30px;
                }
            }//.quantity

            &.actions{
                text-align:right;
                padding:20px 12px;

                a.wc-backward{
                    // background-color:$primary;
                    border:1px $primary solid;
                    @include border-radius(0);
                    color:$primary;
                    font-size:13px;
                    font-weight:700;
                    height:40px;
                    line-height:30px;
                    padding:4px 20px;
                    float:left;
                    text-transform:uppercase;
                    &:hover{
                        background-color:lighten($primary, 10%);
                        color:$white;
                    }
                }
            } 

            input[type="submit"], .update-btn{
                background-color:$title;
                color:$white;
                padding:6px 20px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                letter-spacing: 1px;
                height: 40px;
                &:hover{
                    background-color:lighten($title, 10%);
                }
            }  
        }//td

        .cart_item{
            .product-remove{
                 @include media(ip){
                    padding-bottom:0;
                }
                .remove{
                    color:$primary;
                    display:block;
                    font-size: 25px;
                    font-weight: 900;
                    text-align:center;
                }//.remove
            }
            .product-thumbnail{
                @include media(ip){
                    display:none;
                }
                img{
                    height:auto;
                    width:80px;
                    @include media(ip){
                        display:none;
                    }
                }
            }//.product-thumbnail
        }//.cart-item
    }//.shop_table
 }//.table-responsive 

    .cart-collaterals{
        background:#fafafa;
        padding:30px 15px;
        h2{
            margin-top:0;
            text-transform: uppercase;
            font-size: 18px;
            text-align:left;
        }
        .cart_totals {
            table{
                background-color:$white;
                .cart-discount a{
                    color:#000;
                    font-weight:700;
                    text-decoration:underline;
                    margin-left:5px;
                }
                a.shipping-calculator-button,
                a.shipping-calculator-button:visited{
                    color:$body-color;
                    font-weight:700;
                    &:hover{
                        color:$primary;
                    }
                }
            }
            .wc-proceed-to-checkout{
                a{
                    background-color:$primary;
                    color:$white;
                    display:block;
                    font-size:13px;
                    font-weight:700;
                    padding:10px 12px;
                    text-align:center;
                    text-transform:uppercase;
                    &:hover{
                        background-color:lighten($primary, 10%);
                    }
                }
            }
        }//.cart_totals
        .coupon{
            input{
                margin-bottom:10px;
            }
            input[type="submit"]{
                background-color:$primary;
                color:$white;
                padding:6px 20px;
                &:hover{
                    background-color:lighten($primary, 10%);
                }
            } 

            @include media(xs){
                margin-bottom:30px;
            }   
        }//.coupon    
    }//.cart-collaterals

    .cart-empty-wrap{
        text-align:center;
        .cart-icon i{
            font-size:80px;
        }

        .cart-empty{
            font-size:20px;
            margin: 40px 0 70px 0;
            text-transform:uppercase;
        }
    } 
}//.woocommerce