$color_success: #3bb64a;
$color_info: #447EAF;
$color_error: #F3475E; //bootstrap overlay error fix
$notice_height: 45px;

.mm-slideout {
    z-index: auto;
}

.or-notice,
.or-message {
    padding: 10px 13px;
    font-size: 14px;
    background-color: #fdfbfb;
    position: relative;
    @include box-shadow( 0px 0px 0px 1px #ddd inset);
    margin-bottom: 10px;
}
.or-notice {
    margin-left: 45px;

    strong{
      margin-right: 8px;
    }

    .notice-icon{
      position: absolute;
      right: 100%;
      background: $color_info;
      top: 0;
      padding: 0 12px;
      display: flex;
      height: 100%;
      border: 1px solid darken( $color_info, 5%);
      border-right: none;
      // @include border-radius ( 5px 0 0 5px );
    }

    i {
      font-size: 22px;
      color: $white;
      margin: auto;
    }
}

.or-c-check {
    margin-top: 25px;
    position: absolute;
    right: 0;

    @include media(sm) {
        margin-top: -32px;
    }

    @include media(ls) {
        margin-top: 0;
        font-size: 12px;
        z-index: 99;
    }
}

.or-coupon {
    margin: 30px 0;

    .coupon-block {
        @include clearfix();
        margin-top: 10px;

        .button,
        .input-text {
            height: 35px;
            float: left;
            font-size: 14px;
        }

        .input-text {
            padding: 0 10px;
        }

        button {
            padding: 0 20px;
        }
    }
}
//or-payment-detail
.or-payment-detail {
    border: 1px solid #e5e5e5;

    &.total {
        border: none;
        font-size: 14px;

        tr {
            border-bottom: none;

            td,
            th {
                padding: 8px 0;
            }

            th {
                text-align: left;
            }

            td {
                text-align: right;
            }
        }
    }

    tr {
        border-bottom: 1px solid #e5e5e5;

        td {
            border-right: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            padding: 8px 10px;
            font-size: 14px;
            color: #717171;

            &:last-child {
                border-right: none;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.modal {
    .modal-title {
        font-family: "Oswald", sans-serif;
        color: #6b6b6b;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .close {
        border: none;
        background: #606060;
        color: #fff;
        width: 30px;
        height: 30px;
        position: absolute;
        border-radius: 50%;
        right: -15px;
        top: -15px;

        &:hover {
            @include transition( background-color 0.3s ease-in-out );
            background-color: $color_error;
        }
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
        padding-top: 0;

        .or-total-amount {
            color: #6b6b6b;
            font-size: 17px;
            margin-bottom: 10px;
        }

        button {
            border: none;
            padding: 6px 15px;
            background-color: $color_success;
            width: 100px;
            margin-top: 5px;
            color: $white;

            &:hover {
                @include transition( background-color 0.3s ease-in-out );
                background-color: darken( $color_success, 7% );
            }
        }
    }

    .modal-content {
        border: none;
        @include border-radius(0);
        @include box-shadow( none );
    }
}
//modal

.or-form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px !important;
    border: 1px solid #ddd !important;
}
//or-form-control

.or-next {
    margin-bottom: 60px;
    text-align: right;

    button {
        background: transparent;
        border: none;

        &:disabled{
            opacity: 0.8;
            cursor: no-drop;
        }

        .or-next-text {
            line-height: 35px;
            font-size: 18px;
            display: inline-block;
            position: relative;
            text-transform: capitalize;
            top: -2px;
        }

        .or-arrow {
            width: 40px;
            height: 40px;
            background: #a03e26;
            display: inline-block;
            line-height: 38px;
            color: #fff;
            border-radius: 50%;
            font-size: 20px;
            margin-left: 10px;
        }
    }

    button[disabled] { opacity: 0.9; }
}
//or-next

.or-custom-radio {
    text-align: center;
    margin: 30px 0;

    .or-package-name {
        border: 3px solid #ddd;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        min-height: 74px;
        @include flex( display, flex );

        .text {
            margin: auto;
        }
    }

    .or-package-price {
        background-color: $primary;
        color: $white;
        display: inline-block;
        font-size: 13px;
        padding: 1px 10px;
        margin-top: 10px;
        cursor: pointer;
        @include border-radius( 20px );
    }

    input[type=radio]:checked {
        + label {
            .or-package-name {
                background-color: $color_success;
                border-color: $color_success;
                color: $white;
                @include transition( background-color 0.2s );
            }

            .or-package-price {
                background-color: $color_success;
                @include transition( all 0.3s linear );
            }
        }
    }
}
//or-custom-radio

.or-multiple-custom-radio {
    .or-input {
        background-color: #e6e6e6;
        display: inline-block;
        position: relative;

        input[type=radio]:checked {
            + label {
                color: $white;

                &:after {
                    opacity: 1;
                }
            }
        }

        label {
            padding: 6px 15px;
            display: inline-block;
            position: relative;
            font-size: 13px;
            z-index: 0;
            text-transform: capitalize;
            color: #767676;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0;
                background-color: $color_success;
            }
        }
    }
}
//custom multiple radio

.or-subscribe {
    color: #4a4a4a;

    .or-title {
        font-size: 14px;
        text-transform: capitalize;
        display: block;
        margin: 0 0 8px;
    }

    input[type="radio"] {
        position: absolute;
        bottom: 110%;
        opacity: 0;
    }

    h1 {
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        color: #5d5d5d;
        letter-spacing: 1.5px;
    }

    .or-cgap {
        margin: 60px 0;
    }

    .or-membership-detail {
        padding: 60px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        span.currency{
            display: inline-block;
            width: 4%;

            & ~ input { width: 95%; }
        }
    }

    .lSSlideOuter .lSPager.lSpg>li.active a,
    .lSSlideOuter .lSPager.lSpg>li:hover a{
        background-color: $primary;
    }

    .lSSlideOuter .lSPager.lSpg>li a{ padding: 0 0 0 5px;}

    .lSAction>a{
        @include transform(translateY(-50%));
    }
}
// organist review

.ui-datepicker {
    color: $white;
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-top: none;

    .ui-datepicker-prev {
        float: right;
    }

    .ui-datepicker-next {
        float: left;
    }

    .ui-datepicker-title {
        overflow: hidden;
        padding: 0 10px;
    }

    .ui-icon {
        position: relative;
        color: $primary;
        cursor: pointer;
        top: 3px;

        &:after {
            font: normal normal normal 14px/1 FontAwesome;
        }
    }

    .ui-icon-circle-triangle-w {
        &:after {
            content: "\f061";
        }
    }

    .ui-icon-circle-triangle-e {
        &:after {
            content: "\f060";
        }
    }

    .ui-datepicker-header {
        padding: 10px;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker-buttonpane {
        display: none;
    }

    .ui-datepicker-month {
        margin-right: 10px;
    }

    .ui-datepicker-month,
    .ui-datepicker-year {
        border: none;
        padding: 5px 20px;
        color: #797979;
        border: 1px solid #ddd;
    }
}
//datepicker

.or-packages {
    margin: 30px 0;
    .or-package-slider{
      @include clearfix();
        .or-package{
          width: 290px;
          float: left;
          padding: 0 10px;
        }
    }
}

.caroufredsel_wrapper{
  height: 170px !important;
}
// or packages

.expiry-period{
    .or-form-control {
        width: 50%;
        display: inline-block;
        float: left;

        &:first-of-type{
            width: 50%;
            width: calc(50% - 5px);
            margin-right: 5px;
            @include media(xs) {z-index: 9;}
        }
    }
}

//subscription overflow hidden
.lSSlideOuter {
    overflow: hidden;

    .lightSlider{
        overflow: initial;
    }

    .lSPager.lSpg{
        margin: 10px auto 0;
    }
}
.lSPager{
    margin: 0;
    padding: 0;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;

    li{
        display: inline-block;
        margin: 2px;

        &.active{
            a{
                background: $primary;
            }
        }
        a{
            display: block;
            background: darken($white, 20%);
            width: 10px;
            height: 10px;
            text-indent: -999em;
            @include border-radius(50%);

        }
    }
} 

// SELECT 2 DESIGN for SUBSCRIBE PAGE
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-or-custom-radio-new .select2-choice{
    border: none;
}
.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active{
    border-color: #ddd;
}
.select2-results{
    background: $white;
}


.or-subscribe{
    .select2-or-custom-radio-new .select2-selection{
        @include border-radius(0);
        color:#777;
        line-height:1.2em;
        padding:.825em .4375em;
        width:100%;
    }
    .select2-or-custom-radio-new .select2-selection{
        border-color: rgba($black, 0.1);
        height: 36px;

        .select2-selection__rendered{
            color: #777777;
            padding-left: 0;
            margin-top: -10px;
        }
        .select2-selection__arrow{
            top: 5px;
        }
    }

    .expiry-period{
        .select2-or-custom-radio-new{
            width: 100px !important;
            margin-right: 10px;
        }
    }
    
}


#or-subscribe{
    .wc-terms-and-conditions{
        > label{
            > span{
                &.required{
                    &:before{
                        display: none;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.or-radio-checkmark {
    float: left;
    margin-top: 2px;
}

.or-custom-radio-new {
    cursor: pointer;
}

.or-add-donation-info {
    margin-bottom: 15px;
    img {
        margin: 15px 0;
    }
}
