// .inner-page{
// 	.content-area{
// 		@extend %block-gap;
// 		.iner-content{
// 			article{
// 				border-bottom:1px dotted $primary;
// 				padding-bottom:20px;
// 				h2{
// 					a{
// 	 					color: $primary;
// 	 				}
//  				}
//  				ul{
//  					margin: 0 0 15px 15px;
//  					padding:0;
//  				}
// 				.comments-link{
// 					a{
// 						color: #ccc;
// 					}
// 				}

// 			}//article
// 		}//.iner-conten
// 	}
.post-navigation{
    .nav-links{
        div{
            border: 1px solid #cccccc;
            border-radius: 2px;
            display: inline-block;
            font-size: 14px;
            padding: 6px 20px 7px;
            position: relative;
            float: none;
            width: inherit;
            @include media(mb){
                margin-bottom: 15px;
                font-size: 13px;
                width: 100%;
                text-align: center;
            }

            &:hover{
                a{
                    color: $primary;
                    text-decoration: none;
                }
                border-color:$primary;
                color:#ccc !important;
            }
            &:focus{
                a{
                    text-decoration: none;
                }
            }
        }
        .nav-previous{
            position:relative;
            &:after{
                position:absolute;
                content: "\f100";
                left: 5px;
                font-family: FontAwesome;
                color: $primary;
            }
        }//.nav-previous
        .nav-next{
            float: right;
            position:relative;
            @include media(mb){
                float: none;
            }
            &:after{
                position:absolute;
                //content: "\f100";
                content: "\f101";
                right: 5px;
                font-family: FontAwesome;
                color: $primary;
            }
        }//.nav-next

    }//.nav-links

}//.post-navigation


.woocommerce-breadcrumb{
    color: darken($white, 30%);
    margin-top:20px;
    color: $white;
    a{
        color: darken($white, 30%);
        &:active,
            &:focus,
            &:hover{
            text-decoration: none;
        }
    }
}//woocommerce-breadcrumb

// Contact Page
.contact-page{
    input[type="text"],
    input[type="email"],
    textarea{
        width: 100%;
        padding: 5px 10px;
    }
    input[type="submit"]{
        background:$primary;
        border:none;
        color:$white;
        font-size:16px;
        line-height:1.25em;
        padding: 8px 20px;
        margin-top: 10px;
        text-transform:uppercase;
        @include transition(all 0.3s ease-in-out);
        width:auto;
        &:hover{
            background:lighten($primary, 10%);
        }
    }

}
