.single-product{
    //@extend %block-gap;
    .entry-summary{
        .cart{
            margin: 40px 0 20px;
            .quantity{
                margin-bottom: 20px;

                input{ 
                    @include border-radius(0);
                    padding:5px;
                    line-height: 22px;
                    text-align: center;
                }
            }//quantity
        }//cart
        .product_meta {
            margin: 0 0 20px;
            .posted_in{
                a{
                    color: $primary;

                    &:hover{
                        text-decoration: none;
                        color: $secondary;
                    }
                }
            }//posted_in
        }//product_meta

        .description{
            margin-bottom: 30px;
        }
    }//entry-summary
    .organist-product{
        margin-bottom: 20px;
        .entry-summary{
            margin: 0;
            @include media(xs){
                margin-top: 30px;
            }
            h1{
                margin-top: 0;
                line-height: 24px;
                color: #414141;
                font-size: 31px;
                margin-bottom: 25px;
                font-family: "Oswald", sans-serif;
                font-weight: 400;
            }
        }//entry-summary
        .price{
            .amount{
                font-family: "Oswald",sans-serif;
                font-size: 22px;
                margin: 10px 0;
                display: inline-block;
                background: #a03e26;
                color: #fff;
                line-height: 40px;
                padding: 0px 13px;
            }//.amount
        }//price
        .quantity{
            input{
                line-height: 30px;
                vertical-align: top;
            }
            .qty-increase,
            .qty-decrease{
                background-color: #c1c0c0;
                border-color: #c1c0c0;
                padding: 8px 12px;
            }
        }//quantity
        button{
            @extend .c-btn;
            @include text-shadow(none);
            font-size: 14px;
            line-height: 16px;
        }

    }//organist-product
    .wc-tabs-wrapper{
        .nav-tabs{
            margin: 0;
            border-bottom: none;
            margin-bottom: -1px;
            li{
                &.active{
                    background-color:#fafafa;
                    a{
                        background-color:#fafafa;
                        border:none;
                        @include border-radius(0);
                    }
                }
                a{
                    color: $primary;
                    border: 1px solid transparent;
                }
            }
        }//.nav-tabs
        .entry-content{
            background-color:#fafafa;
            padding:45px 30px;
            margin-top:0;

            h2{
                text-align: left;
            }
        }//.entry-content
    }//wc-tabs-wrapper
    .related.products{
        ul.products{
            li{
                // text-align: center;
                // width: 24%;
            }
        }
    }//.related.products
}//single-product

//IMAGES
.images{
    text-align: center;
    margin-bottom: 30px;
    a{
        display: block;
        margin-bottom: 15px;
    }
    .thumbnails{
        border: 1px solid #e1e1e1;
        padding: 10px 15px;
        text-align: left;
        a{
            display:block;
            float: left;
            margin: 9px;
            img{
                border:5px solid #ddd;
                margin-right: 5px;
                max-width: 90px;
            }
        }
    }
}


/*COMMENTS*/
%common-title{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    margin: 0;
    margin-bottom: 20px; 
}
#comments{
    margin-bottom:60px;

    .woocommerce-Reviews-title{
        @extend %common-title;  
    }
    h2{
        text-align:left;
    }
    ol{
        margin-top: 0;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        list-style: none;

        li{
            @include clearfix();
            margin-bottom:10px;

            img{
                float: left;
                margin-right: 15px;
            }
            .comment-text{
                @include calc(width, 81px);
                float:left;

                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}


//REVIEW FORM
#review_form{
    h3{
        @extend %common-title;
    }
    input[type='text'],
    input[type='email']{
        width: 100%;
        border-radius: 0px;
        padding: 5px 10px;
    }
    textarea{

    }
    .submit{
        @include box-shadow(none);
        font-size:16px;
        line-height:18px;
        text-transform:uppercase;
        background:$primary;
        color:$white;
        border:1px solid $primary;
        font-family:$title-font;
        letter-spacing:2px;
        padding:13px 20px;
        text-transform:inherit;
        @include border-radius(0);
        @include transition(all 0.2 ease-in-out);

        &:hover, &:visited{
            //background-color:lighten($primary, 25%);
            color:$white;
        }
    }
}

//RELATED PRODUCT
.related{
    margin-top:60px;
    h2{
        @extend %common-title;
    }
}

.woocommerce-Tabs-panel--description{
    h2{
        @extend %common-title;
    }
}
