@mixin btn($border-radius:20px, $padding:11px 50px, $background-color:$primary-color,$font-size:16px, $color:#fff, $text-transform:uppercase){

   padding:$padding;

   background-color:$background-color;

   font-size:$font-size;

   text-transform: $text-transform;

   color:$color;

   @include transition(all 0.5s ease-in-out);

   @include border-radius($border-radius);

   

   &:hover{

       background-color:darken($background-color, 5%);

   }

}