
@mixin transform ($property, $value...) {
 -webkit-transform : $property +'('+ $value +')';
 -moz-transform    : $property +'('+ $value +')';
 transform         : $property +'('+ $value +')';
}

@mixin prefix( $property, $value ) {
 -webkit-#{$property} : $value;
 -moz-#{$property}    : $value;
 #{$property}         : $value;
}

@mixin flex( $property, $value ) {
  #{$property} : -webkit-#{$value};
  #{$property} : -moz-#{$value};
  #{$property} :  #{$value};
}
