@mixin sub-menu(){
  	ul{
	    background-color: $white;
	    margin-top:10px;
	    padding:0.9375rem 0;
	    @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.176));
	    list-style: none;
	    margin-bottom: 0 !important;
	    //display: none;
	    visibility: hidden;
	    opacity: 0;
	    position: absolute;
	    top: 23px;
	    left: -25px;
	    margin-left: 0;
	    min-width: 200px;
	    z-index: 1;
		@include media(xs){
			left:-52px;
		}
	    li{
	        border-top:1px solid #e1e1e1;
	        margin:0;
	        padding:0;
	        position:relative;

	        &:first-child{
	            border-top:0;
	        }
	        >ul{
	        	display: none;
	        }
	        &:hover{
	        	ul{
	        		display: block;
	        		position:absolute;
	        		right: 200px;
	        		top: 0;
	        		left: inherit;
	        		@include transition(all 0.2s ease-out);
                    @include box-shadow (0 6px 12px rgba(0, 0, 0, 0.176));
	        	}
	        }
	    }//li

	    a{
	        text-transform: capitalize;
	        padding:0.875rem 1.875rem;
	        font-weight: normal;
	        outline: none;


	        i{
	        	margin-right:0.25rem;
	        	padding-right: 0.3125rem;
	        }
	    }
	}//ul

	a{
        text-transform: uppercase;
        font-weight: bold;
        display: block;

        &:hover{
            color: $primary;
            text-decoration: none;
        }

        &:focus{
            outline: none;
            text-decoration: none;
        }
    }//a

}