$primary:#a03e26 !default;
$secondary:#521f2d;
$title:#745c46;
$white:#fff;
$black:#000;
$body-color:#505050;
$overlay-bg :#1d242c;

//FONTS
$primary-font:'Lato', sans-serif;
$title-font: 'Oswald', sans-serif;
//bootstrape variable


$container-sm:750px !default;
$container-md:970px !default;
$container-lg:1170px !default;

$screen-sm-min: 768px !default;
$screen-md-min:992px !default;
$screen-lg-min:1200px !default;