.preloader{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba($white, 0.99);
	z-index: 999999999999;
	
}
.preloader-wrap{
	position: absolute;
	top:50%;
	left: 50%;
	@include transform(translate(-50%, -50%));

	p{
		margin-bottom: -18px;
	}
}
.loader{
	display: inline-block;
    margin-top: 0;
    margin-left: -113px;
    position: relative;
    left: 50%;
}
.loader span{
    display: inline-block;
    height: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #dc005a;
    -moz-animation: line 2s infinite alternate;
    -webkit-animation: line 2s infinite alternate;
    animation: line 2s infinite alternate;
    -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.loader i{
    position: absolute;
    top: -30px;
    color: #7a4b94;
}
@-moz-keyframes line{
    0% {
        width: 0;
    }
    100% {
        width: 230px;
    }
}
@-webkit-keyframes line{
    0% {
        width: 0;
    }
    100% {
        width: 230px;
    }
}
@keyframes line{
    0% {
        width: 0;
    }
    100% {
        width: 230px;
    }
}
.banner-wrapper{
	background:#f8f8f8;
	font-size:16px;
	line-height:24px;
	color: $body-color;
	@include media(xs){
		padding-bottom:25px;
	}
	.banner-text-holder{
		padding:128px 0;
		letter-spacing: 2px;
		@include media(sm){
			padding:60px 0;
		}
		@include media(xs){
			text-align: center;
			padding-top:35px;
			margin-bottom: 25px;
			padding-bottom:15px;
		}
		h3{
			font:43px/47px $title-font;
			letter-spacing: 3px;
			color: $body-color;
			margin-bottom: 50px;
			margin-top: 0;
			@include media(sm){
				font-size: 38px;
				line-height: 40px;
				margin-bottom: 25px;
			}
			@include media(xs){
				font-size: 31px;
				line-height: 35px;
			}
		}//h3
		.banner-btn-holder{
			margin-top:45px;
			@include media(xs){
				margin-bottom: 25px;
				margin-top: 25px;
			}
			a{
				padding:6px 10px;
			}
		}//.banner-btn-holder
	}//.banner-text-holder
	img{
		@include media(sm){
			padding-top:30px;
		}
		@include media(xs){
			padding-top:0;
		}
	}
}