

.latest-issue-wrapper{
	@extend %block-gap;

		.block-title{
			text-align:center;
		}

		h1.title{
			line-height:31px;
			@include media(mb){
				font-size:25px;
				line-height:35px;
			}
			@extend %title;
			&:before,
			&:after{
				bottom:0;
				content:'';
				top:0;
				position:absolute;
			}

			&:before{
				border-left:4px $title solid;
				left:0;
			}

			&:after{
				border-right:4px $title solid;
				right:0;
			}
		}

		p.sub-title{
			color:#959595;
			font-style:italic;
			letter-spacing:1px;
			margin-bottom:40px;
			text-align:center;
		}

		.issue-block{
			background-color:#f7f7f7;
			position:relative;
			text-align:center;

			img{
				display:inline-block;
				padding:25px 0;
				
			}

			.new-tag{
				border-top: 100px solid $primary;
			    border-right: 100px solid transparent;
			    position:absolute;
			    left:0;
			    top:0;
				height: 0;
				width: 0; 

				span{
				    bottom: 58px;
				    color:$white;
				    font-family:$title-font;
				    font-size:20px;
				    position: absolute;
				    left: 15px;
				    @include transform(rotate(#{-45}deg));
					} 
			}  
		}

		.latest-issue-content {
			@include media(xs){
				text-align:center;
			}
			p{
				color:$body-color;
				font-size:16px;
				letter-spacing: 2px;

				&.desc{
					margin-bottom:50px;
				}
			}

			.social-share{
				margin-bottom:40px;
				span.price{
					color:$primary;
					font-family:$title-font;
					font-size:45px;
					margin-right:40px;
					vertical-align:middle;

					@include media(ms){
						margin-right:15px;
					}
				}

				.share-links{
					display: inline-block;

					a .fa{
						color:#a7a7a7;
						display:inline;
						font-size:20px;
						margin-right:10px;
						&:hover{
							color:$primary;
							@include transform(scale(1.1));
							@include transition(all 0.3s ease-in-out);
						}
					}		
					span{
						color:#a7a7a7;
						font-style:italic;
						font-size:15px;
						letter-spacing: 2px;
						margin-right:10px;
					}		
				}
			}//.socila-share

			.latest-subscrib{
				@include media(xs){
					padding-top:10px;
				}

				@include media(mb){
					text-align:center;
				}
				.c-btn{
					float: right;
					@include media(xs){
						float:none;
					}
				}	
			}//.latest-subscribe
		}// .latest-issue-content
}// .latest-issue-wrapper

h2.title{
	color:lighten($black, 25%);
	font-family:$title-font;
	font-size:25px;
	letter-spacing:2px;
	margin-bottom:30px;
}

