
.product-list-wrapper{
    background-color:#f4f4f4;
    padding-top:80px;
    @include media(xs){
        padding: 40px 0;
    }

    .block-title{
        float:right;
        text-align:center;
        @include media(xs){
            float:none;
        }

        .title{
            @extend %title;
            line-height:31px;
            margin-top:0;
            @include media(mb){
                font-size:25px;
                line-height:35px;
            }

            &:before,
                &:after{
                bottom:0;
                content:'';
                top:0;
                position:absolute;
            }

            &:before{
                border-left:4px $title solid;
                left:0;
            }

            &:after{
                border-right:4px $title solid;
                right:0;
            }
        }// .title

        p.sub-title{
            color:#959595;
            font-style:italic;
            letter-spacing:1px;
            margin-bottom:40px;
            text-align:center;
        }// .sub-title
    }// .block-title

    .pl-tabs{
        background-color:$white;
        float:right;
        @include media (xs){
            float:none;
            text-align:center;
            max-width: 152px;
            margin: 0 auto 30px;
        }

        button{
            background-color:$white;
            border:none;
            color:$body-color;
            font-size:14px;
            font-family:$primary-font;
            @include box-shadow(none);
            @include border-radius(0);
            @include text-shadow(none);
            height: 40px;
            padding: 10px 15px;

            &.active{
                background-color:$primary;
                color:$white;
            }
        }
    }// .pl-tabs
}// .product-list-wrapper

ul.products{
    // margin-left:0;

    .product{
        margin-bottom:60px;
        text-align:center;

        a{
            letter-spacing:1px;
            text-decoration:none;

            &.ajax_add_to_cart.added{
                display:none;
            }
            
            &.ajax_add_to_cart.loading{
                background-image: url(../img/wheel.gif);
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: 100%;
                background-repeat: no-repeat;
                position: relative;
                top: 5px;
                left: 0;
                margin-right: 10px;
    
                i{
                    display:none;
                }
            }

            .fa{
                background-color:$white;
                @include border-radius(50%);
                color:#a7a7a7;
                height:33px;
                line-height:33px;
                margin-right:5px;
                text-align:center;
                width:33px;
                @include transition(all 0.5s ease 0s);
                @include box-shadow(0px 0px 4px 3px #eee);
                &:hover{
                    background-color:$primary;
                    color:$white;
                    @include transform(scale(1.1));
                }
            }
        }

        .product-image-wrapper{
            img{
                border:5px solid $white;
                @include box-shadow (0px 0px 3px 2px rgb(233, 233, 233)); 
            }
        }

        h3,
        h2{
            color:$body-color;
            font-family:$title-font;
            font-size:17px;
            margin:10px 0;
            line-height: 1.5;

            &:hover{
                color:$primary;
            }

            mark{
                line-height: 1.2;
                display: inline-block;
                padding: 3px;
            }
        } 

        span.price{
            color:$primary;
            font-family:$title-font;
            font-size:20px;
            margin-right:15px;

        }

        &.col-sm-6.col-md-3{
          float: none;
          display: inline-block;
          vertical-align: top;
          width: 24%;
          @include media(sm){
            width: 49%;
          }
          @include media(xs){
            width: 100%;
          }
        }
    }//.product
}// ul.products

del{
    .amount{
        text-decoration: line-through;
    
    }
}

// body.home .woocommerce ul.products{
//     height: auto !important;
// }

