.overflowed-bg{
	background-color:#846e55;
	.subscribe-wrap{
		background-size: 50% 100%;
    	background-position: 100% 0;
		background-repeat:no-repeat;
		position:relative;
		width:100%;
		@include media(xs){
			background-image:none !important;
		}
	}
	.equal-height{
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	 
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	    display: initial;

	    @include media(xs) {
	    	 display:block;
	    }

	    .equal-col{
	    	display: -webkit-flex;
	        display: -ms-flexbox;
	        display: flex;
	        align-items:center;
	        justify-content:center;

	        display: initial;
	    }

	    .equal-col:last-child{
	    	min-height: 250px;

	    	@include media(xs) {
	    		background:url('../img/subscribe-review-.jpg') no-repeat !important;
	    		padding: 10% 0;
    			background-position: center center!important;
    			display: block;	
	    	}
	    }
	}// .equal-height

	.advert-wrapper{
		color:$white;
	    line-height: 24px;
	    letter-spacing: 2px;
	    padding:40px 0;
	    // width: 90%;
	    @include media(xs){
	    	text-align:center;
	    }

			.title{
				@include media(mb){
					font-size:25px;
					line-height:35px;
				}
				@extend %title;
				color:$white;
				font-size:25px;
				padding: 0;
   				margin-bottom: 30px;
				padding:0;
				@include media(sm){
					text-align:center;
				}
			}

			p{
				font-weight:300;
				width:90%;
				@include media(xs){
					width:100%;
				}
			}
	}// .advert-wrapper

	.subscribe-wrapper{
		padding:7% 0;
		margin:0 auto;
		text-align:center;

		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));

		@include media(xs) {
			padding:6% 0;
		}

		.pie-title-center {
			  color:$white;
			  position: relative;
			  margin-bottom:60px;
			  text-align: center;
			  z-index:99;
			  @include media(sm){
			  	width:100%;
			  }

			.pie-value {
			  display: block;
			  position: absolute;
			  font-size: 40px;
			  font-family:$title-font;
			  // height: 40px;
			  // top: 50%;
			  left: 0;
			  right: 0;
			  // margin-top: -20px;
			  line-height: 40px;

			  &:after{
			  	content: '\271a';
			  	font-size: 24px;
			  	position: absolute;
			  	left: auto;
			  }
			}
		}// .pie-title-center

		p{
			color:$white;
			font-family:$title-font;
			font-size:20px;
			letter-spacing:1.5px;
			position:relative;
			z-index:99;
			@include media(sm){
			  	width:100%;
			  }
		}
	}// .subcribe-wrapper
}// .overflowed-bg
