.subscription-wrapper{
	background:url("assets/src/img/subscriber-banner.png");
	background-repeat:no-repeat;
	background-size:cover;
	color:$white;
	letter-spacing: 2px;
	padding:26px 0;
	@include media(xs){
		text-align: center;
		padding:35px 0;
	}
	.subs-title{
		font:30px/34px $title-font;
		margin-bottom: 10px;
		padding-top:20px;
	}//.subs-title
	.subscription-btn-holder{
		padding-top:62px;
		.subs-btn{
			background:transparent;
			border-color:$white;
			padding:10px 22px;
			@include transition(all 0.3s ease-in-out);
			@include media(sm){
				font-size: 14px;
			}
			@include media(xs){
				margin-bottom: 15px;
			}

			&:hover{
				background:$white;
				border-color:$white;
				color: $body-color;
			}
		}
	}//.subscription-btn-holder
}//.subscription-wrapper